/* colors */
$light: #ebebeb;
$white: #ffffff;
$title: #212121;
$text: #646464;
$greenAccent: #37806B;
$brownAccent: #CAA892;
$brownFrame: #B0855B;
$grayFrame: #e0e0e0;
$graySection: #f8f8f8;
$formBackground: #eeeeee;
$divider: #c4c4c4;
$social: #d5d5d5;

/* width */
$breakpoint192: 1920px;
$breakpoint150: 1500px;
$breakpoint140: 1400px;
$breakpoint110: 1100px;
$breakpoint95: 950px;
$breakpoint70: 700px;
$breakpoint50: 500px;
$breakpoint45: 450px;
$breakpoint40: 450px;