/* Base resets */
@import 'reset';

/* General styles */
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'animation';

/* Sections */
@import 'components/header';
@import 'components/hero';
@import 'components/whatWeDo';
@import 'components/aboutUs';
@import 'components/twentyYears';
@import 'components/completedWork';
@import 'components/testimonials';
@import 'components/letestNews';
@import 'components/formSection';
@import 'components/footer';
@import 'components/copyright';
@import 'components/preloader';
@import 'components/sigmaModal';
@import 'components/inactiviti';

/* Components */
@import 'components/logo';
@import 'components/navigation';
@import 'components/burger';
@import 'components/apiBar';
@import 'components/testimonialsCard';
@import 'components/newsCard';
@import 'components/form';

/* General styles */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.body {
	&--none {
		overflow: hidden;
	}
}

::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: $brownAccent;
}