.form-section {
    @include section(8rem, 9.2rem);
    position: relative;

    &__dots-one {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        background-image: url('../images/working-dots.png');
        background-size: cover;
        width: 212px;
        height: 150px;
    }

    &__dots-two {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        background-image: url('../images/main-dots.png');
        background-size: cover;
        width: 212px;
        height: 150px;
    }

    &__container {
        @include container;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.7rem;
    }

    &__title {
        @include singleFont('Poppins', 500, 4.8rem, 100%);
        color: $title;
        letter-spacing: 3.84px;
        text-transform: uppercase;
        text-align: center;
    }

    &__divider {
        max-width: 46rem;
        width: 100%;
        height: 0.1rem;
        background-color: $divider;
    }

    &__text {
        @include text;
        max-width: 64.6rem;
        width: 100%;
        text-align: center;
    }
}