.letest-news {
    background-color: $graySection;

    &__container {
        @include container;
    }

    &__wrapper {
        padding: 9.3rem 0 12.3rem;
    }

    &__subtitle {
        @include subTitle;
        text-align: center;
        margin-bottom: 2.1rem;
    }

    &__title {
        @include title;
        text-align: center;
        margin-bottom: 8.3rem;
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        @media screen and (max-width: $breakpoint70) {
            flex-direction: column;
        }
    }
}