.twenty-years {
    @include section(19.8rem, 22rem);

    &__container {
        @include container;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        @media screen and (max-width: $breakpoint95) {
            flex-direction: column-reverse;
            gap: 10rem;
        }
    }

    &__content {
        max-width: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: url('../images/twenty-years-bg.png');
        background-size: cover;
        background-clip: text;

        @media screen and (max-width: $breakpoint95) {
            max-width: 100%;
        }
    }

    &__number {
        @include singleFont('OpenSans', 700, 28.8rem, 100%);
        color: transparent;
        margin-bottom: 2rem;

        @media screen and (max-width: $breakpoint45) {
            font-size: 20rem;
        }
    }
    &__title {
        @include title;
        margin-bottom: 3.5rem;
    }

    &__btn {
        @include button;
    }

    &__background-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    &__picture.picture {
        @include framedPicture(true, 3.5rem)
    }

    &__picture-wrapper {
        max-width: 68rem;
        width: 100%;
        border-radius: 14rem 0;
        overflow: hidden;

        @media screen and (max-width: $breakpoint95) {
            max-width: unset;
        }
    }

    &__picture-img {
        width: 100%;
        height: auto;
    }
}